<div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
         <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">grow your business with us🚀</p>
            <div class="row">
              <div class="col-md-6 col-12 hero-text">
                  <figure>
                    <img src="/images/about.svg" alt="aboutsection-image">
                  </figure>
              </div>
              {{!-- right side --}}
              <div class="col-md-6 col-12 hero-text d-flex  justify-content-center align-items-start flex-column">
                <h1>WE ARE THE PROFESSION DEVELOPERS🤞</h1>
                <p>Welcome to <span class="bold-style">Next In,</span> We are Listening to you and answering with modern development solutions. <span class="bold-style">Next In,</span> is No. 1 source of all business related problems. We're dedicated to giving you the very best of work, with a focus on three [Three characteristics i.e: Dependability, Customer Service and Uniqueness.] </p>
                <button class="btn-style btn-primary" onclick="document.location='#'">Read More -></button>
              </div>
            </div>
         </div>
      </div>
    </div>