<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">grow your business with us🚀</p>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img
                  src="https://i.imgur.com/6NKPrhO.png"
                  alt="imageunavailable"
                />
              </div>
              <h4>Settings</h4>
              <p>Our Settings Services is a required system app that brings you the latest Android Settings features and updates.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services backups">
              <div class="icon">
                <img
                  src="https://i.imgur.com/vdH9LKi.png"
                  alt="imageunavailable"
                />
              </div>
              <h4>Backups</h4>
              <p>Backup as a service(BaaS) to manage than other offsite services and ensure your data is safe, secure from corruption. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services ssl">
              <div class="icon">
                <img
                  src="https://i.imgur.com/v6OnUqu.png"
                  alt="imageunavailable"
                />
              </div>
              <h4>SSL Secured</h4>
              <p>We provides a secure channel between two machines or devices operating over the internet.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services database">
              <div class="icon">
                <img
                  src="https://i.imgur.com/VzjZw9M.png"
                  alt="imageunavailable"
                />
              </div>
              <h4>Database</h4>
              <p>Database as a Service (DBaaS) is self service/ on demand database consumption coupled with automation of operations.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services privacy">
              <div class="icon">
                <img
                  src="https://i.imgur.com/AgyneKA.png"
                  alt="imageunavailable"
                />
              </div>
              <h4>Privacy</h4>
              <p>Privacy regulations protect a user from having their information shared with a third-party without their consent or knowledge.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services speedup">
              <div class="icon">
                <img
                  src="https://i.imgur.com/6NKPrhO.png"
                  alt="imageunavailable"
                />
              </div>
              <h4>Speedup</h4>
              <p>We identify scenarios where speedup can be helpful to temporarily alleviate congestion and increase access.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>